$STRAWBERRY_100: #ff8c82;
$STRAWBERRY_300: #ed5353;
$STRAWBERRY_500: #c6262e;
$STRAWBERRY_700: #a10705;
$STRAWBERRY_900: #7a0000;

$ORANGE_100: #ffc27d;
$ORANGE_300: #ffa154;
$ORANGE_500: #f37329;
$ORANGE_700: #cc3b02;
$ORANGE_900: #a62100;

$BANANA_100: #fff394;
$BANANA_300: #f1fa8c;
$BANANA_500: #f9c440;
$BANANA_700: #d48e15;
$BANANA_900: #ad5f00;

$LIME_100: #d1ff82;
$LIME_300: #b0e5a0;
$LIME_500: #50fa7b;
$LIME_700: #3a9104;
$LIME_900: #206b00;

$MINT_100: #89ffdd;
$MINT_300: #43d6b5;
$MINT_500: #28bca3;
$MINT_700: #0e9a83;
$MINT_900: #007367;

$BLUEBERRY_100: #8cd5ff;
$BLUEBERRY_300: #64baff;
$BLUEBERRY_500: #3689e6;
$BLUEBERRY_700: #0d52bf;
$BLUEBERRY_900: #002e99;

$BUBBLEGUM_100: #fe9ab8;
$BUBBLEGUM_300: #f4679d;
$BUBBLEGUM_500: #de3e80;
$BUBBLEGUM_700: #bc245d;
$BUBBLEGUM_900: #910e38;

$GRAPE_100: #e4c6fa;
$GRAPE_300: #cd9ef7;
$GRAPE_500: #a56de2;
$GRAPE_700: #7239b3;
$GRAPE_900: #452981;

$COCOA_100: #a0907e;
$COCOA_300: #847462;
$COCOA_500: #67584c;
$COCOA_700: #4f4236;
$COCOA_900: #362d26;

$SILVER_100: #f1f0ef;
$SILVER_300: #dbd8d5;
$SILVER_500: #b5afa9;
$SILVER_700: #8b8279;
$SILVER_900: #645d56;

$SLATE_100: #95a3ab;
$SLATE_300: #667885;
$SLATE_500: #485a6c;
$SLATE_700: #273445;
$SLATE_900: #0e141f;

$BLACK_100: #6d665e;
$BLACK_300: #534d47;
$BLACK_500: #36332f;
$BLACK_700: #1c1a18;
$BLACK_900: #000;
